.Network { 
    position: absolute;
  top: 200px; left: 400px;
    height: 0%;
  }
  button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 300px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    position: relative;
    font-size: 300px;
    padding: 100px;
    width: 300px;
    height:80px;
    top: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 40px;
  }