button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 300px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    position: relative;
    font-size: auto;
    padding: 100px;
    width: 600px;
    height:400px;
    top: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 40px;
  }
 
  .mb-2 { 
    position: relative;
  top: 300px; left: 600px;
    height: 0%;
  }
  
   